.social_link {
    width: 55px;
    height: 55px;
    background-color: #1e2125;
    border-radius: 50%;
    margin-left: 20px;
    transition-duration: 200ms;
    border: 1px solid #ffffff65;
  }
  .social_link i{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 1.4rem;
  }
  .social_link:first-child {
    margin-left: 0px;
  }
  .social_link:hover{
      transform: scale(1.1);
  }
  