.hero_page{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(15, 2, 2, 0.856),rgba(0, 0, 0, 0.849)), url('/images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}