.swiperSlide{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.swiperSlide img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}